.main-drawer {
    padding: 10px 20px;
    min-height: 100vh;
}

.main-drawer .drawer-header {
    display: flex;
    justify-content: end;
    align-items: center;
}

.main-drawer .drawer-header svg {
    font-size: 20px;
  
}

.main-drawer .drawer-header img {
    height: 50px;
}

.main-drawer .drawer-main-menu {
    margin-top: 20px;
}


.main-drawer .drawer-main-menu li a {
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: 16px;
    line-height: 40px;
    color: #1E2819;
}

.main-drawer .drawer-main-menu .according-menu.color > a{
    color: orange;
}

.main-drawer .drawer-main-menu li span svg {
    font-size: 40px;
    color: white;
}

.main-drawer .drawer-main-menu .according-menu .drawer-sub-menu {
    display: none;
    height: 0;
    transition: all 0.5s;
    padding: 10px 15px;
}
.main-drawer .drawer-main-menu .according-menu .drawer-sub-menu li a{
    font-size: 16px;
    text-transform: capitalize;
}


.main-drawer .drawer-main-menu .according-menu.active .drawer-sub-menu {
    height: 100%;
    display: block;
}

.icon_gap{
    gap: 26px;
}