.ing_banner{
    background-image: url('../../../../assets/Ingredients/banner/banner.png');
    background-size: contain;
}
@media (min-width: 320px) and (max-width: 576px) {
    .ing_banner {
        background-image: url("../../../../assets/Ingredients/banner/banner2.png");
        background-size: cover;
    }
}