@import url('https://fonts.googleapis.com/css2?family=Alegreya+Sans:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Alegreya+Sans:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,wght@0,600;0,700;1,600&family=Nunito:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Nunito&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Libre+Baskerville&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Libre+Baskerville&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Alegreya+Sans&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Libre+Baskerville&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Libre+Baskerville&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Libre+Baskerville&family=Montserrat:wght@700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

/*======= btn color =======*/

.main_btn{
    background: linear-gradient(93.17deg, #FFC26A 5.76%, #FF8425 78.81%, #FFC26A 93.09%);
    
}
.aboutShadow{
    box-shadow: 0px 2px 10px 2px #00000040;
}
.text_gre{
    background: linear-gradient(93.17deg, #FFC26A 5.76%, #FF8425 78.81%, #FFC26A 93.09%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    
}

/*====== font ==========*/

.alegreyaSans{
    font-family: 'Alegreya Sans', sans-serif;
}
.alegreyaBold{
    font-family: 'Alegreya Sans', sans-serif;
}
.alegreyaMedium{
    font-family: 'Alegreya Sans', sans-serif;
}
.alegreyaNormal{
    font-family: 'Alegreya Sans', sans-serif;
}
.nunitoextra{
    font-family: 'Libre Baskerville', serif;
        font-family: 'Nunito Sans', sans-serif;
}
.nunitoBold{
    font-family: 'Nunito', sans-serif;
    font-family: 'Nunito Sans', sans-serif;
}
.nunitoMedium{
    font-family: 'Nunito', sans-serif;
}
.nunitoNormal{
    font-family: 'Nunito', sans-serif;
}
.montserratNormal{
    font-family: 'Montserrat', sans-serif;
}
.montserratBold{
    font-family: 'Libre Baskerville', serif;
        font-family: 'Montserrat', sans-serif;
}
.libreNormal{
    font-family: 'Libre Baskerville', serif;
}
.libreNormal{
    font-family: 'Libre Baskerville', serif;
}